html{
	max-width: 1280px;
  overflow-x: hidden;
}
.clear{
	clear: both;
}
body{
	margin: 0px;

}
p{
	font-family:'Adobe Fangsong Std R';
	margin: 0px;
}
a{
	text-decoration: none;
	color: black;
}
#banner{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: inline;
}
#banner_L{
	position: relative;
	width: 100vw;
	height: 100vh;
	display: none;
}
#logo{
	position: absolute;
	z-index: 999;
	top: 30vh;
	left:36vw;

}
#banner_ani_1{
	position:absolute;
	z-index: 997;
	top:37vh;
	left:6vw;

  -webkit-filter: drop-shadow(0px 0px  20px #AAAAAA);
    filter: drop-shadow(0px 0px  20px #AAAAAA);
}
#banner_ani_2{
	position:absolute;
	z-index: 997;
	top:32vh;
	left:36vw;
  -webkit-filter: drop-shadow(0px 0px  20px #AAAAAA);
    filter: drop-shadow(0px 0px  20px #AAAAAA);
}
#banner_ani_3{
	position:absolute;
	z-index: 997;
	top:41vh;
	left:73vw;
  -webkit-filter: drop-shadow(0px 0px  20px #AAAAAA);
    filter: drop-shadow(0px 0px  20px #AAAAAA);
}
#slogan{
	position:absolute;
	display: inline;
	z-index: 999;
	font-size: 36px;
	top: 55vh;
	left: 34vw;
	margin:0px;
}
#triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 65.0px 37.5px 0 37.5px;
	border-color: #ffffff transparent transparent transparent;
	position:absolute;
	z-index: 999;
	margin: 0px;
	top: 85vh;
	left:47vw;
  cursor: pointer;
}
#nav_logo{
  cursor: pointer;
}
.triangle_shadow{
	-webkit-filter: drop-shadow(0px 0px  20px black);
    filter: drop-shadow(0px 0px  20px black);

}

.nav_shadow{
	width: 100vw;
	position: relative;
  z-index: 997;
  box-shadow: 0px 8px 41px -6px #242424;
  -webkit-box-shadow: 0px 8px 41px -6px #242424;
  -moz-box-shadow: 0px 8px 41px -6px #242424;
  -o-box-shadow: 0px 8px 41px -6px #242424;
}
.navs{
  background-color: white;
  top: 0;
  position: fixed;
}
nav{

	width: 100vw;

}
.nav_shadow{
  text-align: center;
}
.nav_shadow　img{
  display: none;
}
#nav_logo{
  width: 10vw;
  /*height: 10vh;*/
}
ul{

	list-style: none;
	margin: 0px;
	padding: 0px;
}
li{
	margin-left: 7vw;

}
li p{
	font-size: 21px;
	float: left;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 9.5vw;

}
.smaller_words{
	font-size: 24px;
	margin: auto;
}
.bigger_words{
	font-size: 30px;
	margin: auto;
}
.link_words{
	font-size: 21px;

}

.firstpart_position{
	position: relative;
	width: 100vw;
	height: 51vh;
	background-color: #f6c6c5;

}
.first_part{
	position: absolute;
	margin-top: 90px;
	line-height: 35px;
	text-align: center;
	left: 40vw;
}
.firstpart_link{
	position: absolute;
	font-size: 21px;
	margin-left: 6.5vw;
}

.secondpart_position{
	position: relative;
	width: 100vw;
	height: 51vh;
	background-color: #f4f8c4;

}
.second_part{
	position: absolute;
	margin-top: 90px;
	line-height: 32px;
	left: 38vw;
}
.secondpart_link{
	position: absolute;
	font-size: 21px;
	margin-left: 8.5vw;
}
.thirdpart_position{
	position: relative;
	width: 100vw;
	height: 51vh;
	background-color: #c5f6c9;
}
.third_part{
	position: absolute;
	margin-top: 90px;
	line-height: 32px;
	left: 38vw;
	text-align: center;
}
.thirdpart_link{
	position: absolute;
	font-size: 21px;
	margin-left: 10vw;

}
.forthpart_position{
	position: relative;
	width: 100vw;
	height: 51vh;
	background-color:#c5d8f6;
}
.forth_part1{
	position: absolute;
	margin-top: 90px;
	line-height: 32px;
	left: 21vw;
	text-align: center;
}
.forth_part2{
	position: absolute;
	margin-top: 90px;
	line-height: 32px;
	left: 56vw;
}
.information{
	display:block;
	position:fixed;
	z-index:999;
	width:50px;
	height:50px;
	top:10px;
	right:10px;
	cursor: pointer;
}
.informationback{
	display:none;
	background-color:#cccccc;
	position:fixed;
	z-index:998;
	width:150px;
	height:100px;
	top:0px;
	right:0px;
}
@media screen and (max-width: 1024px) {
	#banner{
		position: relative;
		width: 100vw;
		height: 100vh;
		display: none;
	}
	#banner_L{
		position: relative;
		width: 100vw;
		height: 100vh;
		display: inline;
	}
	.first_part{
		left: 37vw;
	}
	.second_part{
		left: 35vw;
	}
	.third_part{
		left: 35vw;
	}
	.forth_part1{
		left: 18vw;
	}
	.forth_part2{
		left: 53vw;
	}
	.bigger_words{
		font-size: 28px;
	}
	.smaller_words{
		font-size: 22px;
	}

}
@media screen and (max-width: 768px) {
	#banner_L{
		position: relative;
		width: 100vw;
		height: 100vh;
		display: inline;
	}
	#banner_ani_2{
		display: none;
	}
	#banner_ani_3{
		display: none;
	}
	li{
		margin-left: 5vw;
	}
	li p{
		font-size: 18px;
		margin-left: 7.5vw;
	}
	.firstpart_position{
		height: 48vh;
	}
	.first_part{
		left: 34vw;
		line-height: 30px;
	}
	.secondpart_position{
		height: 48vh;
	}
	.second_part{
		left: 32vw;
		line-height: 25px;
		margin-top: 70px;
	}
	.thirdpart_position{
		height: 48vh;
	}
	.third_part{
		left: 32vw;
		line-height: 30px;
	}
	.forth_part1{
		left: 16vw;
		line-height: 30px;
	}
	.forth_part2{
		left: 51vw;
		line-height: 30px;
	}
	.bigger_words{
		font-size: 24px;
	}
	.smaller_words{
		font-size: 18px;
}
@media screen and (max-width: 480px) {

}
